* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 } 
.div {
  background-color: #f7fafa;
}
.div-2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.nav-bar {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 5%;
  margin-left: 0px;
   /* height: 100vh;
  position: fixed;  */
  position: fixed;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-3 {
  background-color: var(--Dark-Blue, #173e55);
  display: flex;
  width: 75px;
  max-width: 100%;
  flex-grow: 1;
  flex-direction: column;
  margin: 0 auto;
  padding: 11px 10px 40px 9px;
}
.div-4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.img {
  aspect-ratio: 0.92;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
}
.img-2 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 20px;
  overflow: hidden;
  align-self: center;
  margin-top: 33px;
  max-width: 100%;
}
.img-3 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: center;
  margin-top: 41px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-3 {
    margin-top: 40px;
  }
}
.img-4 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: center;
  margin-top: 45px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-4 {
    margin-top: 40px;
  }
}
.img-5 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: center;
  margin-top: 41px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-5 {
    margin-top: 40px;
  }
}
.img-6 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: center;
  margin-top: 34px;
  flex-grow: 1;
}
.img-7 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: center;
  margin-top: 618px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-7 {
    margin-top: 40px;
  }
}
.main-body {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .main-body {
    width: 100%;
  }
}
.div-5 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
  }
}
.div-6 {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 3px 20px;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
  }
}
.top-bar {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1296px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-8 {
  color: var(--Dark-Blue, #173e55);
  align-self: center;
  margin: auto 0;
  font: 400 20px/130% Lato, sans-serif;
}
.div-9 {
  align-self: stretch;
  display: flex;
  width: 192px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.img-8 {
  aspect-ratio: 0.29;
  object-fit: cover;
  object-position: center;
  width: 20px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-10 {
  color: var(--Dark-Blue, #173e55);
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 700 20px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-10 {
    text-wrap: initial;
  }
}
.div-11 {
  border-radius: 4px;
  background-color: var(--Medium-Orange, #f37227);
  align-self: center;
  display: flex;
  width: 90px;
  max-width: 100%;
  align-items: flex-start;
  gap: 7px;
  margin: auto 0;
  padding: 0 8px;
}
@media (max-width: 991px) {
  .div-11 {
    justify-content: center;
  }
}
.div-12 {
  color: var(--100, #f7fafc);
  align-self: center;
  margin: auto 0;
  font: 400 12px Roboto, sans-serif;
}
.div-13 {
  background-color: #fff;
  align-self: stretch;
  width: 1px;
  height: 30px;
}
.img-9 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 12px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.div-14 {
  border-radius: 10px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  align-self: center;
  display: flex;
  margin-top: 40px;
  width: 100%;
  max-width: 1285px;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px 1px 30px -1px;
}
@media (max-width: 991px) {
  .div-14 {
    max-width: 100%;
  }
}
.div-15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-15 {
    max-width: 100%;
  }
}
.container-top-part {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1231px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
}
@media (max-width: 991px) {
  .container-top-part {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-17 {
  color: var(--Dark-Blue, #173e55);
  align-self: center;
  margin: auto 0;
  font: 700 20px/130% Lato, sans-serif;
}
.div-18 {
  align-self: stretch;
  display: flex;
  width: 100%;
  max-width: 1014px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-18 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-19 {
  border-radius: 4px;
  border: 1px solid var(--300, #e2e8f0);
  align-self: start;
  display: flex;
  width: 170px;
  max-width: 100%;
  align-items: flex-start;
  gap: 12px;
  padding: 14px 20px 14px 10px;
}
.div-20 {
  color: var(--Dark-Blue, #173e55);
  font: 500 17px Roboto, sans-serif;
}
.img-10 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 12px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-21 {
  border-radius: 4px;
  border: 1px solid var(--300, #e2e8f0);
  align-self: start;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  padding: 11px 20px;
}
@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
  }
}
.div-22 {
  align-self: start;
  display: flex;
  width: 174px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-22 {
    margin-left: 6px;
  }
}
.img-11 {
  aspect-ratio: 1.24;
  object-fit: cover;
  object-position: center;
  width: 21px;
  fill: var(--400, #cbd5e0);
  overflow: hidden;
  align-self: start;
  max-width: 100%;
}
.div-23 {
  color: var(--400, #cbd5e0);
  font: 400 17px Roboto, sans-serif;
}
.div-24 {
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--Medium-Orange, #f37227);
  align-self: start;
  display: flex;
  margin-top: 5px;
  width: 137px;
  max-width: 100%;
  flex-direction: column;
  padding: 10px 20px;
}
.div-25 {
  color: var(--100, #f7fafc);
  align-self: center;
  text-wrap: nowrap;
  font: 700 16px Roboto, sans-serif;
}
@media (max-width: 991px) {
  .div-25 {
    text-wrap: initial;
  }
}
.headings-main-wrapper {
  background-color: #f7faf9;
  align-self: stretch;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  padding: 23px 20px;
}
@media (max-width: 991px) {
  .headings-main-wrapper {
    max-width: 100%;
  }
}
.headings-main {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1105px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .headings-main {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-28 {
  align-self: stretch;
  display: flex;
  width: 438px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-28 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-29 {
  color: var(--Dark-Blue, #173e55);
  align-self: start;
  font: 700 17px/130% Lato, sans-serif;
}
.div-30 {
  color: var(--Dark-Blue, #173e55);
  align-self: start;
  font: 700 17px/130% Lato, sans-serif;
}
.div-31 {
  color: var(--Dark-Blue, #173e55);
  align-self: start;
  text-wrap: nowrap;
  font: 700 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-31 {
    text-wrap: initial;
  }
}
.div-32 {
  align-self: stretch;
  display: flex;
  width: 313px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.div-33 {
  color: var(--Dark-Blue, #173e55);
  align-self: start;
  font: 700 17px/130% Lato, sans-serif;
}
.div-34 {
  color: var(--Dark-Blue, #173e55);
  align-self: start;
  text-wrap: nowrap;
  font: 700 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-34 {
    text-wrap: initial;
  }
}
.forum-wrapper {
  align-self: center;
  display: flex;
  margin-top: 20px;
  width: 100%;
  max-width: 1147px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .forum-wrapper {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-36 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.div-37 {
  align-self: start;
  display: flex;
  width: 190px;
  max-width: 100%;
  align-items: flex-start;
  gap: 14px;
}
.img-12 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 45px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-38 {
  color: var(--Dark-gray, #828689);
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-38 {
    text-wrap: initial;
  }
}
.div-39 {
  align-self: start;
  display: flex;
  margin-top: 14px;
  width: 160px;
  max-width: 100%;
  align-items: flex-start;
  gap: 14px;
}
.img-13 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 45px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-40 {
  color: var(--Dark-gray, #828689);
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-40 {
    text-wrap: initial;
  }
}
.div-41 {
  align-self: start;
  display: flex;
  margin-top: 14px;
  width: 149px;
  max-width: 100%;
  align-items: flex-start;
  gap: 14px;
}
.img-14 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 45px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-42 {
  color: var(--Dark-gray, #828689);
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-42 {
    text-wrap: initial;
  }
}
.div-43 {
  align-self: start;
  display: flex;
  margin-top: 14px;
  width: 206px;
  max-width: 100%;
  align-items: flex-start;
  gap: 14px;
}
.img-15 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 45px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-44 {
  color: var(--Dark-gray, #828689);
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-44 {
    text-wrap: initial;
  }
}
.div-45 {
  align-self: start;
  display: flex;
  margin-top: 14px;
  width: 190px;
  max-width: 100%;
  align-items: flex-start;
  gap: 14px;
}
.img-16 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 45px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-46 {
  color: var(--Dark-gray, #828689);
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-46 {
    text-wrap: initial;
  }
}
.div-47 {
  align-self: start;
  display: flex;
  margin-top: 14px;
  width: 133px;
  max-width: 100%;
  align-items: flex-start;
  gap: 14px;
}
.img-17 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 45px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-48 {
  color: var(--Dark-gray, #828689);
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-48 {
    text-wrap: initial;
  }
}
.div-49 {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.div-50 {
  color: var(--Dark-gray, #828689);
  align-self: stretch;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-50 {
    text-wrap: initial;
  }
}
.div-51 {
  color: var(--Dark-gray, #828689);
  align-self: stretch;
  margin-top: 40px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-51 {
    margin-right: 1px;
    text-wrap: initial;
  }
}
.div-52 {
  color: var(--Dark-gray, #828689);
  align-self: stretch;
  margin-top: 40px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-52 {
    text-wrap: initial;
  }
}
.div-53 {
  color: var(--Dark-gray, #828689);
  align-self: stretch;
  margin-top: 40px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-53 {
    text-wrap: initial;
  }
}
.div-54 {
  color: var(--Dark-gray, #828689);
  align-self: stretch;
  margin-top: 40px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-54 {
    margin-right: 1px;
    text-wrap: initial;
  }
}
.div-55 {
  color: var(--Dark-gray, #828689);
  align-self: stretch;
  margin-top: 40px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-55 {
    margin-right: 1px;
    text-wrap: initial;
  }
}
.div-56 {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.div-57 {
  color: var(--Dark-gray, #828689);
  align-self: start;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-57 {
    text-wrap: initial;
  }
}
.div-58 {
  color: var(--Dark-gray, #828689);
  align-self: start;
  margin-top: 41px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-58 {
    margin-top: 40px;
    text-wrap: initial;
  }
}
.div-59 {
  color: var(--Dark-gray, #828689);
  align-self: start;
  margin-top: 38px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-59 {
    text-wrap: initial;
  }
}
.div-60 {
  color: var(--Dark-gray, #828689);
  align-self: start;
  margin-top: 38px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-60 {
    text-wrap: initial;
  }
}
.div-61 {
  color: var(--Dark-gray, #828689);
  align-self: start;
  margin-top: 38px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-61 {
    text-wrap: initial;
  }
}
.div-62 {
  color: var(--Dark-gray, #828689);
  align-self: start;
  margin-top: 38px;
  text-wrap: nowrap;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-62 {
    text-wrap: initial;
  }
}
.div-63 {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.div-64 {
  color: var(--Green-3, #6fcf97);
  align-self: start;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(111, 207, 151, 0.1);
  width: 167px;
  max-width: 100%;
  padding: 7px 13px;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-64 {
    text-wrap: initial;
  }
}
.div-65 {
  color: var(--Red, #eb5757);
  align-self: start;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(235, 87, 87, 0.3);
  margin-top: 20px;
  width: 143px;
  max-width: 100%;
  padding: 7px 13px;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-65 {
    text-wrap: initial;
  }
}
.div-66 {
  color: var(--Variable-1697726090139, #06f);
  align-self: start;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #8bc3ff;
  margin-top: 23px;
  width: 85px;
  max-width: 100%;
  padding: 7px 13px;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-66 {
    text-wrap: initial;
  }
}
.div-67 {
  color: #a2a953;
  align-self: start;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #ffe500;
  margin-top: 23px;
  width: 160px;
  max-width: 100%;
  padding: 7px 13px;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-67 {
    text-wrap: initial;
  }
}
.div-68 {
  color: #ce54ed;
  align-self: start;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(143, 0, 255, 0.1);
  margin-top: 23px;
  width: 79px;
  max-width: 100%;
  padding: 7px 13px;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-68 {
    text-wrap: initial;
  }
}
.div-69 {
  color: #01758e;
  align-self: start;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: rgba(0, 73, 69, 0.1);
  margin-top: 23px;
  width: 112px;
  max-width: 100%;
  flex-grow: 1;
  padding: 7px 13px;
  font: 400 17px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .div-69 {
    text-wrap: initial;
  }
}
.div-70 {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.div-71 {
  align-self: start;
  display: flex;
  width: 36px;
  max-width: 100%;
  align-items: flex-start;
  gap: 1px;
}
.img-18 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
}
.div-72 {
  color: #000;
  align-self: center;
  margin: auto 0;
  font: 400 17px/130% League Gothic, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-73 {
  align-self: start;
  display: flex;
  margin-top: 32px;
  width: 40px;
  max-width: 100%;
  align-items: flex-start;
  gap: 0px;
}
.img-19 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex: 1;
}
.div-74 {
  color: #000;
  align-self: start;
  margin-top: 6px;
  text-wrap: nowrap;
  font: 400 17px/130% League Gothic, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-74 {
    text-wrap: initial;
  }
}
.div-75 {
  align-self: start;
  display: flex;
  margin-top: 29px;
  width: 34px;
  max-width: 100%;
  align-items: flex-start;
  gap: 0px;
}
.img-20 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: start;
}
.div-76 {
  color: #000;
  align-self: start;
  margin-top: 4px;
  text-wrap: nowrap;
  font: 400 17px/130% League Gothic, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-76 {
    text-wrap: initial;
  }
}
.div-77 {
  align-self: start;
  display: flex;
  margin-top: 29px;
  width: 37px;
  max-width: 100%;
  align-items: flex-start;
  gap: 0px;
}
.img-21 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
}
.div-78 {
  color: #000;
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 400 17px/130% League Gothic, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-78 {
    text-wrap: initial;
  }
}
.div-79 {
  align-self: start;
  display: flex;
  margin-top: 29px;
  width: 35px;
  max-width: 100%;
  align-items: flex-start;
  gap: 0px;
}
.img-22 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
}
.div-80 {
  color: #000;
  align-self: center;
  margin: auto 0;
  font: 400 17px/130% League Gothic, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-81 {
  align-self: start;
  display: flex;
  margin-top: 29px;
  width: 34px;
  max-width: 100%;
  align-items: flex-start;
  gap: 1px;
}
.img-23 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
}
.div-82 {
  color: #000;
  align-self: center;
  margin: auto 0;
  font: 400 17px/130% League Gothic, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-24 {
  aspect-ratio: 4.4;
  object-fit: cover;
  object-position: center;
  width: 88px;
  overflow: hidden;
  align-self: center;
  margin-top: 388px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-24 {
    margin-top: 40px;
  }
}