@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 } 
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


/* The navigation bar  */
.nav-bar {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 5%;
  margin-left: 0px;
   /* height: 100vh;
  position: fixed;  */
  position: fixed;
}
@media (max-width: 991px) {
  .nav-bar {
    width: 100%;
  }
}

/* .nav-bar img{
  background-color: red;
} */
.placeholder-nav {
  background-color: var(--Dark-Blue, #173e55);
  display: flex;
  width: 75px;
  max-width: 100%;
  flex-grow: 1;
  flex-direction: column;
  margin: 0 auto;
  padding: 11px 10px 40px 9px;
}
.top-part {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.main-logo {
  aspect-ratio: 0.92;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: stretch;
}

.active{
  padding: 5px;
  background-color: #f37227;
  border-radius: 20px;
}

.dashboard {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 20px;
  overflow: hidden;
  align-self: center;
  margin-top: 33px;
  max-width: 100%;
  transition: 1s;
}
.dashboard:hover{
  cursor: pointer;
  padding: 5px;
  width: 100%;
  background-color: #f37227;
}


.statistic {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: center;
  margin-top: 41px;
  max-width: 100%;
  transition: 1s;
  
}
@media (max-width: 991px) {
  .statistic {
    margin-top: 40px;
  }
}
.statistic:hover{
  cursor: pointer;
  width: 100%;
  background-color: #f37227;
}

.files {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: center;
  margin-top: 45px;
  max-width: 100%;
  transition: 1s;
}
@media (max-width: 991px) {
  .files {
    margin-top: 40px;
  }
}
.files:hover{
  color: white;
  cursor: pointer;
  width: 100%;
  background-color: #f37227;
}


.employee {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: center;
  margin-top: 41px;
  max-width: 100%;
  transition: 1s;
}
@media (max-width: 991px) {
  .employee {
    margin-top: 40px;
  }
}
.employee:hover{
  cursor: pointer;
  width: 100%;
  background-color: #f37227;
}


.img-6 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  overflow: hidden;
  align-self: center;
  margin-top: 34px;
  flex-grow: 1;
}
.img-7 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 30px;
  overflow: hidden;
  align-self: center;
  margin-top: 618px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-7 {
    margin-top: 40px;
  }
}




/* The very top bar */
.top-bar {
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 1296px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .top-bar  {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.top-bar  .div-8 {
  color: var(--Dark-Blue, #173e55);
  align-self: center;
  margin: auto 0;
  font: 400 20px/130% Lato, sans-serif;
}
.top-bar .div-9 {
  align-self: stretch;
  display: flex;
  width: 192px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.top-bar .img-8 {
  aspect-ratio: 0.29;
  object-fit: cover;
  object-position: center;
  width: 20px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.top-bar .div-10 {
  color: var(--Dark-Blue, #173e55);
  align-self: center;
  text-wrap: nowrap;
  margin: auto 0;
  font: 700 20px/130% Lato, sans-serif;
}
@media (max-width: 991px) {
  .top-bar .div-10 {
    text-wrap: initial;
  }
}
.top-bar .div-11 {
  border-radius: 4px;
  background-color: var(--Medium-Orange, #f37227);
  align-self: center;
  display: flex;
  width: 90px;
  max-width: 100%;
  align-items: flex-start;
  gap: 7px;
  margin: auto 0;
  padding: 0 8px;
}
@media (max-width: 991px) {
  .top-bar .div-11 {
    justify-content: center;
  }
}
.top-bar .div-12 {
  color: var(--100, #f7fafc);
  align-self: center;
  margin: auto 0;
  font: 400 12px Roboto, sans-serif;
}
.top-bar .div-13 {
  background-color: #fff;
  align-self: stretch;
  width: 1px;
  height: 30px;
}
.top-bar .img-9 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 12px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}

