.to-do-list {
  background-color: #f7fafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.to-do-list .div {
  background-color: #f7fafa;
  width: 1440px;
  height: 1107px;
  position: relative;
}

.to-do-list .overlap {
  position: absolute;
  width: 75px;
  height: 1106px;
  top: 0;
  left: 0;
  background-color: var(--dark-blue);
}

.to-do-list .overlap-group {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 184px;
  left: 16px;
  background-color: var(--medium-orange);
  border-radius: 7px;
}

.to-do-list .check {
  position: absolute;
  width: 23px;
  height: 17px;
  top: 12px;
  left: 10px;
}

.to-do-list .stats {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 115px;
  left: 22px;
}

.to-do-list .users-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 261px;
  left: 22px;
}

.to-do-list .help-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 331px;
  left: 22px;
}

.to-do-list .frame {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 1036px;
  left: 22px;
}

.to-do-list .logo {
  position: absolute;
  width: 56px;
  height: 61px;
  top: 13px;
  left: 9px;
}

.to-do-list .completed {
  position: absolute;
  width: 1286px;
  height: 440px;
  top: 627px;
  left: 115px;
}

.to-do-list .overlap-2 {
  position: relative;
  height: 440px;
}

.to-do-list .reports-back {
  position: absolute;
  width: 1285px;
  height: 440px;
  top: 0;
  left: 1px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 20px #0000000d;
}

.to-do-list .rectangle {
  position: absolute;
  width: 1285px;
  height: 63px;
  top: 90px;
  left: 0;
  background-color: #f6f9f8;
}

.to-do-list .line {
  position: absolute;
  width: 1284px;
  height: 1px;
  top: 90px;
  left: 1px;
}

.to-do-list .img {
  position: absolute;
  width: 1284px;
  height: 1px;
  top: 153px;
  left: 0;
}

.to-do-list .group {
  position: absolute;
  width: 1203px;
  height: 40px;
  top: 25px;
  left: 31px;
}

.to-do-list .overlap-group-wrapper {
  position: absolute;
  width: 898px;
  height: 40px;
  top: 0;
  left: 146px;
}

.to-do-list .overlap-group-2 {
  position: relative;
  width: 896px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--x-300);
}

.to-do-list .text-wrapper {
  position: absolute;
  width: 124px;
  top: 9px;
  left: 52px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--x-400);
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.to-do-list .vector {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 10px;
  left: 15px;
}

.to-do-list .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 23px;
  position: absolute;
  top: 0;
  left: 1094px;
  background-color: var(--medium-orange);
  border-radius: 4px;
}

.to-do-list .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: var(--x-100);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.to-do-list .text-wrapper-3 {
  position: absolute;
  width: 98px;
  top: 7px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.to-do-list .group-2 {
  position: absolute;
  width: 1179px;
  height: 24px;
  top: 110px;
  left: 30px;
}

.to-do-list .text-wrapper-4 {
  position: absolute;
  width: 32px;
  top: 0;
  left: 421px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-5 {
  position: absolute;
  width: 54px;
  top: 0;
  left: 585px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-6 {
  width: 61px;
  top: 0;
  left: 1104px;
  position: absolute;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-7 {
  position: absolute;
  width: 48px;
  top: 0;
  left: 933px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-8 {
  position: absolute;
  width: 46px;
  top: 1px;
  left: 766px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-9 {
  position: absolute;
  width: 35px;
  top: 2px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-10 {
  position: absolute;
  width: 60px;
  top: 0;
  left: 155px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .items {
  position: absolute;
  width: 1226px;
  height: 195px;
  top: 175px;
  left: 29px;
}

.to-do-list .element {
  position: absolute;
  width: 1235px;
  height: 36px;
  top: 159px;
  left: 1px;
}

.to-do-list .text-wrapper-11 {
  position: absolute;
  width: 75px;
  top: 7px;
  left: 421px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-12 {
  position: absolute;
  width: 135px;
  top: 7px;
  left: 727px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-13 {
  position: absolute;
  width: 23px;
  top: 7px;
  left: 585px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .overlap-group-3 {
  position: absolute;
  width: 121px;
  height: 30px;
  top: 3px;
  left: 1104px;
}

.to-do-list .group-3 {
  position: absolute;
  width: 121px;
  height: 30px;
  top: 0;
  left: 0;
}

.to-do-list .frame-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}

.to-do-list .frame-3 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 3px;
  left: 48px;
}

.to-do-list .trash {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 2px;
  left: 94px;
}

.to-do-list .frame-4 {
  background-color: #6fcf971a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 13px;
  position: absolute;
  top: 0;
  left: 933px;
  border-radius: 100px;
}

.to-do-list .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--green-3);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-15 {
  position: absolute;
  width: 106px;
  top: 7px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-16 {
  position: absolute;
  width: 75px;
  top: 7px;
  left: 155px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .element-2 {
  position: absolute;
  width: 1227px;
  height: 36px;
  top: 106px;
  left: 1px;
}

.to-do-list .group-4 {
  position: absolute;
  width: 73px;
  height: 30px;
  top: 3px;
  left: 1104px;
}

.to-do-list .text-wrapper-17 {
  position: absolute;
  width: 121px;
  top: 7px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .trash-2 {
  top: 6px;
  left: 1198px;
  position: absolute;
  width: 22px;
  height: 22px;
}

.to-do-list .element-3 {
  position: absolute;
  width: 1228px;
  height: 36px;
  top: 53px;
  left: 0;
}

.to-do-list .text-wrapper-18 {
  position: absolute;
  width: 127px;
  top: 7px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .trash-3 {
  top: 6px;
  left: 1199px;
  position: absolute;
  width: 22px;
  height: 22px;
}

.to-do-list .element-4 {
  position: absolute;
  width: 1230px;
  height: 36px;
  top: 0;
  left: 0;
}

.to-do-list .text-wrapper-19 {
  position: absolute;
  width: 87px;
  top: 8px;
  left: 752px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-20 {
  position: absolute;
  width: 60px;
  top: 7px;
  left: 585px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-21 {
  position: absolute;
  width: 108px;
  top: 7px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .trash-4 {
  top: 7px;
  left: 1199px;
  position: absolute;
  width: 22px;
  height: 22px;
}

.to-do-list .page-scroll {
  position: absolute;
  width: 90px;
  height: 20px;
  top: 396px;
  left: 592px;
}

.to-do-list .overlap-3 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1px;
  left: 35px;
  background-image: url(https://c.animaapp.com/eRnN0PuN/img/ellipse-14-1.svg);
  background-size: 100% 100%;
}

.to-do-list .text-wrapper-22 {
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--x-400);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.to-do-list .arrow-left-s-line {
  left: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
}

.to-do-list .arrow-left-s-line-2 {
  left: 68px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
}

.to-do-list .to-do {
  position: absolute;
  width: 1300px;
  height: 500px;
  top: 98px;
  left: 115px;
}

.to-do-list .overlap-4 {
  position: relative;
  width: 1286px;
  height: 500px;
}

.to-do-list .reports-back-2 {
  position: absolute;
  width: 1285px;
  height: 500px;
  top: 0;
  left: 1px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 20px #0000000d;
}

.to-do-list .top-bar {
  position: absolute;
  width: 1212px;
  height: 40px;
  top: 25px;
  left: 31px;
}

.to-do-list .text-wrapper-23 {
  position: absolute;
  top: 9px;
  left: 52px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--x-400);
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.to-do-list .text-wrapper-24 {
  position: absolute;
  top: 7px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-25 {
  position: absolute;
  top: 110px;
  left: 451px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-26 {
  position: absolute;
  top: 110px;
  left: 615px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-27 {
  top: 110px;
  left: 1134px;
  position: absolute;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-28 {
  position: absolute;
  top: 110px;
  left: 963px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-29 {
  position: absolute;
  top: 111px;
  left: 796px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-30 {
  top: 112px;
  left: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22.1px;
  position: absolute;
  font-family: "Lato", Helvetica;
  color: var(--dark-blue);
  letter-spacing: 0;
  white-space: nowrap;
}

.to-do-list .text-wrapper-31 {
  position: absolute;
  top: 110px;
  left: 185px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .navbar {
  position: absolute;
  width: 1233px;
  height: 36px;
  top: 178px;
  left: 30px;
}

.to-do-list .text-wrapper-32 {
  left: 421px;
  position: absolute;
  top: 7px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-33 {
  left: 585px;
  position: absolute;
  top: 7px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .trash-5 {
  top: 3px;
  left: 95px;
  position: absolute;
  width: 22px;
  height: 22px;
}

.to-do-list .frame-5 {
  background-color: #ffe5001a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 13px;
  position: absolute;
  top: 0;
  left: 933px;
  border-radius: 100px;
}

.to-do-list .text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: #c6b200;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-35 {
  position: absolute;
  top: 7px;
  left: 0;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .text-wrapper-36 {
  position: absolute;
  top: 7px;
  left: 155px;
  font-family: "Lato", Helvetica;
  font-weight: 400;
  color: var(--dark-gray);
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22.1px;
  white-space: nowrap;
}

.to-do-list .page-scroll-2 {
  position: absolute;
  width: 90px;
  height: 20px;
  top: 464px;
  left: 592px;
}

.to-do-list .overlap-5 {
  position: absolute;
  width: 1365px;
  height: 75px;
  top: 0;
  left: 75px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px #0000001a;
}

.to-do-list .title {
  top: 24px;
  left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  position: absolute;
  font-family: "Lato", Helvetica;
  color: var(--dark-blue);
  letter-spacing: 0;
  white-space: nowrap;
}

.to-do-list .profile {
  position: absolute;
  width: 90px;
  height: 30px;
  top: 22px;
  left: 1244px;
}

.to-do-list .group-5 {
  width: 92px;
  height: 30px;
}

.to-do-list .overlap-group-4 {
  position: relative;
  width: 90px;
  height: 30px;
  background-color: var(--medium-orange);
  border-radius: 4px;
}

.to-do-list .text-wrapper-37 {
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: var(--x-100);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.to-do-list .line-2 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 0;
  left: 62px;
}

.to-do-list .chevron-down {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  left: 70px;
}
